.nav-style{
    background-color: rgba(0,0,0,0.9);
}
.nav-style .text{
    color: white;
    font-size: 25px;
    font-style: italic;
    letter-spacing: 7px;
    font-weight: 700;
}
.nav-style .text:hover{
    color: white;
}
.control-bar-style{
    background-color: aqua;
    margin-right: 10px;
}
.togol-button{
    text-align: left;
    margin: 0;
    padding: 0;
    text-decoration: none;    
    color: red;
}

