.img-div{
    width: 100%;
}
.img-div img{
    width: 100%;
    height: 550px;
    position: relative;
}
.form-div{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: -10px;
    left: 0;
}
.form-div .from-child-div{
    margin-top: 100px;
}
.form-div .from-child-div h2{
    color: white;
    z-index: 99999;
}
.from-child-div{
    width: 40%;
    text-align: left;
    color: white;
    background-color: rgba(0,0,0,0.4);
    padding: 10px 10px;
}

@media  (max-width:1000px) {
    .from-child-div {
        width: 70%;
    }
}
@media  (max-width:500px) {
    .from-child-div {
        width: 85%;
    }
}
